@charset "UTF-8";
/* fonts */
/* "Playfair Display", "Pretendard-Regular"  */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}


body {
    --dot-bg: white;
    --dot-color: #DBDBDB;
    --dot-size: 1.5px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
        }

/***** header *****/

header {
  display: flex;
  justify-content: space-between;
  padding: 60px 105px 0;
  width: 100%;

  font-family: "Pretendard-Regular";
  font-size: 1.2rem;
  position: absolute;
}
header .github {
  font-size: 1.05rem;
  background-color: #040404;
  color: #fff;
  width: 127px;
  height: 32px;
  padding-left: 25px;
  line-height: 32px;
  border-radius: 100px;
}

  header li {
    font-family:  "Pretendard-Regular";
    font-size: 20px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    color: #fff;
  }
  /*- hover 이벤트 -*/
  header .list1:before {
    color: #222529;
    content: 'Works/UIUX';
    position: absolute;
    top: 10%;
    right: 5.2px;
    transition: all 0.5s;
}
.list1:hover:before {
    top: -100%;

}
.list1:after {
    color: #222529;
    content: 'Works/UIUX';
    position: absolute;
    top: 150%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}
.list1:hover:after {
    top: 12px;
}
.list2:hover:after {
    top: 12px;
}

header .list2:before {
    color: #222529;
    content: 'Works/Other';
    position: absolute;
    top: 10%;
    right: 0;
    transition: all 0.5s;
}
.list2:hover:before {
    top: -100%;

}
.list2:after {
    color: #222529;
    content: 'Works/Other';
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list2:hover:after {
    top: 12px;
}

.list3:hover:after {
    top: 12px;
}

header .list3:before {
    color: #222529;
    content: 'Skills';
    position: absolute;
    top: 10%;
    left: 0;
    transition: all 0.5s;
}
.list3:hover:before {
    top: -100%;

}
.list3:after {
    color: #222529;
    content: 'Skills';
    position: absolute;
    top: 150%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list3:hover:after {
    top: 12px;
}

.list3:hover:after {
    top: 12px;
}

header .list4:before {
    color: #222529;
    content: 'Contact';
    position: absolute;
    top: 10%;
    left: 0;
    transition: all 0.5s;
}
.list4:hover:before {
    top: -100%;

}
.list4:after {
    color: #222529;
    content: 'Contact';
    position: absolute;
    top: 150%;
    left: 31%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list4:hover:after {
    top: 12px;
}

/***** main-title *****/
.main-title {
    width: 90vw;
    margin: 0 auto;
    padding:160px 0 120px;
}

.main-title h2 {
    display: flex;
    justify-content: space-between;
  color: #222529;

  font-family: "Playfair Display", sans-serif;
  font-size: 11rem;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 0.96;
}

/***** main-contents *****/
.main-contents {
  background-color: #040404;
  color: #fff;
  padding-top: 120px;

  border-radius: 150px;

  --dot-bg: black;
  --dot-color: #222222;
  --dot-size: 1.5px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}
.work-uxui {
    padding: 0 105px;
}
.main-contents h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 5rem;
}
.project-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  gap: 20%;
}
.project-wrapper h3 {
  font-family: "Pretendard-Regular";
  font-weight: 300;
  font-size: 400px;
}
.project-wrapper-box img {
    display: block;
    width: 700px; height: 700px;
}
.project-box {
  display: flex;
  font-family: "Pretendard-Regular";
  justify-content: space-around;
}
.project-box .project-box-des p {
    font-size: 16px;
}
.project-box .project-box-des p:last-child {
    font-size: 25px;
}
.project-box .project-box-tag {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 15px;
}

/***** other design *****/
.work-other h2 {
    padding: 0 105px;
}
.work-other-wrapper {
  display: flex;
  background-color: black;
  width: 100%;
}
.other-wrapper-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/***** skills *****/
.skills {
    padding: 0 105px;
}

/***** footer *****/
footer {
    font-family: "Playfair Display", serif;
    text-align: center;
    padding: 100px 0 200px;
}
footer h1 {
    font-size: 200px;
}
footer h3 {
    font-size: 50px;
    font-weight: 300;
}