@charset "UTF-8";
/* fonts */
/* "Playfair Display", "Pretendard-Regular" , "goudyoldstylebold" , 'SUIT'  */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "goudyoldstylebold";
    src: url(../assets/font/goudyoldstylebold.ttf);
}

@import url('https://webfontworld.github.io/sunn/SUIT.css');

body {
    font-family: "Pretendard-Regular", sans-serif;
}

/***** header *****/

header {
    display: flex;
    justify-content: space-between;
    padding: 60px 105px 0;
    width: 100%;

    font-family: "Pretendard-Regular";
    font-size: 1.2rem;
    position: absolute;
}

header .back {
    font-size: 1.05rem;
    background-color: #040404;
    color: #fff;
    width: 127px;
    height: 32px;
    padding-left: 23px;
    line-height: 32px;
    border-radius: 100px;
    transition: 0.3s;
}

header .back i {
    font-size: 0.95rem;
    margin-left: 5px;
}

header .back:hover {
    font-size: 1.05rem;
    background-color: #fff;
    color: #040404;
    width: 127px;
    height: 32px;
    padding-left: 23px;
    line-height: 32px;
    border-radius: 100px;
    border: 1px solid #040404;
}

header li {
    font-family: "Pretendard-Regular";
    font-size: 20px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    color: #fff;
}

/*- hover 이벤트 -*/
header .list1:before {
    color: #222529;
    content: 'Project1';
    position: absolute;
    top: 10%;
    right: 5.2px;
    transition: all 0.5s;
}

.list1:hover:before {
    top: -100%;

}

.list1:after {
    color: #222529;
    content: 'Project1';
    position: absolute;
    top: 150%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list1:hover:after {
    top: 12px;
}

.list2:hover:after {
    top: 12px;
}

header .list2:before {
    color: #222529;
    content: 'Project2';
    position: absolute;
    top: 10%;
    right: 0;
    transition: all 0.5s;
}

.list2:hover:before {
    top: -100%;

}

.list2:after {
    color: #222529;
    content: 'Project2';
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list2:hover:after {
    top: 12px;
}

.list3:hover:after {
    top: 12px;
}

header .list3:before {
    color: #222529;
    content: 'Project3';
    position: absolute;
    top: 10%;
    left: 0;
    transition: all 0.5s;
}

.list3:hover:before {
    top: -100%;

}

.list3:after {
    color: #222529;
    content: 'Project3';
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list3:hover:after {
    top: 12px;
}

.list3:hover:after {
    top: 12px;
}

header .list4:before {
    color: #222529;
    content: 'Project4';
    position: absolute;
    top: 10%;
    left: 0;
    transition: all 0.5s;
}

.list4:hover:before {
    top: -100%;

}

.list4:after {
    color: #222529;
    content: 'Project4';
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.list4:hover:after {
    top: 12px;
}

/* main */
.main {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: -99;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    padding: 20vh 100px 10vh;

    --dot-bg: white;
    --dot-color: #DBDBDB;
    --dot-size: 2px;
    --dot-space: 35px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

.main video {
    height: 600px;
    background-color: #040404;
}

.main .main-text {
    text-align: right;
}

.main .main-text em {
    font-style: normal;
    font-size: 1rem;
    font-weight: bold;
}

.main .main-text h2 {
    font-weight: bold;
    font-size: 2.1rem;
    padding-bottom: 1.5vh;
}

main .main-text p {
    font-weight: bold;
    padding-bottom: 1.5vh;
    font-size: 1rem;
}

.main .main-text .main-flex {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
}

.main .main-text .main-flex .main-flex-first {
    text-align: left;
}

.main .main-text .main-flex .main-flex-last {
    line-height: 1.5;
}

/* section */
section h1 {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    padding-bottom: 6.25rem;
    color: #333;
}

section h3 {
    font-size: 2.5rem;
    padding-bottom: 5.8vh;
    padding-top: 8vh;
}

section p {
    letter-spacing: -0.3%;
    line-height: 1.5;
    font-size: 1.2rem;
}

/* overview */
.Overview {
    border-radius: 6.25rem 0 0 0;
    padding: 10rem 6.25rem 0;

    background: linear-gradient(90deg,
            #C4E5AE 0%,
            #C4E5AE calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
}

.Overview h1 {
    position: relative;
    z-index: 2;
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #333;
    background: transparent;
    line-height: 1;
    padding-bottom: 0;
    padding-left: 3vh;
}

.Overview .Overview-wrap {
    background: #fff;
    margin-top: -1.5rem;
    padding-top: 2rem;
    border-radius: 0.3125rem;
}

.Overview .Overview-box {
    padding-left: 7.5rem;
    padding-bottom: 5rem;
}


/* Info */
.Info {
    padding: 10rem 6.25rem 0;
    background: linear-gradient(90deg,
            #C4E5AE 0%,
            #C4E5AE calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
}

.Info h1 {
    position: relative;
    z-index: 2;
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #333;
    background: transparent;
    line-height: 1;
    padding-bottom: 0;
    padding-left: 3vh;
}

.Info .info-wrap {
    background: #fff;
    margin-top: -1.5rem;
    padding-top: 2rem;
    border-radius: 0.3125rem;
}


.Info .info-wrap .concept {
    padding-left: 7.5rem;
}

.Info .info-wrap .concept p:nth-child(2) {
    padding-bottom: 5vh;
}

.Info .keywords h3 {
    padding-left: 7.5rem;
}

.Info .keywords .key-wrap {
    margin-top: -1.5rem;
    border-radius: 0.3125rem;
    padding: 13vh 0;
}

.Info .info-wrap .keywords .key-wrap .key-flex {
    display: flex;
    justify-content: center;
}

.Info .info-wrap .keywords .key-wrap .key-flex p {
    width: 13.75rem;
    height: 13.75rem;
    border-radius: 50%;
    border: 0.0625rem solid white;
    font-size: 1.5rem;
    line-height: 13.75rem;
    text-align: center;
    position: relative;
}

.Info .info-wrap .keywords .key-wrap .key-flex .flex-one {
    left: 2.5vw;
    background-color: rgba(236, 226, 100, 0.5);
    border: 0.0625rem solid rgb(236, 226, 100);
}

.Info .info-wrap .keywords .key-wrap .key-flex .flex-two {
    border: 0.1rem dashed rgb(236, 226, 100);
}

.Info .info-wrap .keywords .key-wrap .key-flex .flex-three {
    right: 2.5vw;
    background-color: rgba(236, 226, 100, 0.5);
    border: 0.0625rem solid rgb(236, 226, 100);
}

.Info .info-bg {
    padding: 10rem 6.25rem 0;
    background: linear-gradient(90deg,
            #C4E5AE 0%,
            #C4E5AE calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
    height: 10vh;
}

/* Style-Guide */
.StyleGuide {
    padding: 10rem 6.25rem 0;
    --dot-bg: white;
    --dot-color: #DBDBDB;
    --dot-size: 2px;
    --dot-space: 35px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

.StyleGuide h1 {
    position: relative;
    z-index: 2;
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #333;
    background: transparent;
    line-height: 1;
    padding-bottom: 0;
}

.StyleGuide .colorpalette h3,
.colorpalette p {
    padding-left: 7.5rem;
}

.StyleGuide .colorpalette .colorimg {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7rem;
}

.StyleGuide .typograhpy {
    padding-left: 7.5rem;
}

.StyleGuide .typo-text {
    padding: 7rem 0;
    text-align: center;
}

.Style-Guide .guide-color .guide-color-flex .flex-cloud .cloud-num2 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
    width: 150px;
    height: 130px;
    background-color: #BEC4C0;
    border-radius: 20px 0 0 0;
    line-height: 130px;
    text-align: center;
}

.Style-Guide .guide-color .guide-color-flex .flex-cloud .cloud-num3 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    width: 150px;
    height: 130px;
    background-color: #A3ADAD;
    border-radius: 20px 0 0 0;
    line-height: 130px;
    text-align: center;
}

.Style-Guide .guide-color .guide-color-flex .flex-cloud .cloud-num4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 130px;
    background-color: #6E777A;
    border-radius: 20px 0 0 0;
    line-height: 130px;
    text-align: center;
}

.Style-Guide .guide-font {
    padding-top: 135px;
}

.Style-Guide .guide-font>h3,
.Style-Guide .guide-font>p {
    padding-left: 200px;
}

.Style-Guide .guide-font p {
    line-height: 1.5;
    font-size: 1.2rem;
}

.Style-Guide .guide-font .font-flex {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.Style-Guide .guide-font .font-flex h4 {
    font-size: 1.25rem;
    font-family: "Pretendard-Regular";
}

.StyleGuide .typo-text .typo-text2,
.typo-text3 {
    font-size: 2.25rem;
    font-weight: bold;
}

/* Problem */
.Problem {
    border-radius: 6.25rem 0 0 0;
    padding: 10rem 6.25rem 0;
    background: linear-gradient(90deg,
            #EDE79C 0%,
            #EDE79C calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
}

.Problem h1 {
    position: relative;
    z-index: 2;
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #333;
    background: transparent;
    line-height: 1;
    padding-bottom: 0;
    padding-left: 3vh;
}

.Problem .problem-wrap {
    background: #fff;
    margin-top: -1.5rem;
    padding-top: 2rem;
    border-radius: 0.3125rem;
}

.Problem span {
    font-family: "goudyoldstylebold", serif;
}

.Problem ul {
    padding-left: 200px;
}

.Problem ul li h3 {
    font-size: 2rem;
    padding-bottom: 55px;
}

.Problem ul li {
    padding-bottom: 105px;
}

.Problem ul li p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding-bottom: 35px;
}

.Problem .problem-bg {
    padding: 10rem 6.25rem 0;
    background: linear-gradient(90deg,
            #EDE79C 0%,
            #EDE79C calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
}

/* Review */
.Review {
    padding: 10rem 6.25rem 0;
    background: linear-gradient(90deg,
            #F3CC7F 0%,
            #F3CC7F calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
}

.Review h1 {
    position: relative;
    z-index: 2;
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #333;
    background: transparent;
    line-height: 1;
    padding-bottom: 0;
    padding-left: 3vh;
}

.Review .review-wrap {
    background: #fff;
    margin-top: -1.5rem;
    padding-top: 2rem;
    border-radius: 0.3125rem;
}

.Review ul {
    padding-left: 200px;
}

.Review ul li {
    padding-bottom: 55px;
}

.Review ul li h3 {
    font-size: 2rem;
    padding-bottom: 60px;
}

.Review ul li p {
    padding-bottom: 30px;
    line-height: 1.5;
    font-size: 1.2rem;
}

.Review .review-bg {
    padding: 10rem 6.25rem 0;
    background: linear-gradient(90deg,
            #F3CC7F 0%,
            #F3CC7F calc(100% - 0.0625rem),
            #FFFFFF calc(100% - 0.0625rem),
            #FFFFFF 100%);
    background-size: 5rem 100%;
    background-repeat: repeat-x;
}

/* footer */
footer {
    --dot-bg: white;
    --dot-color: #DBDBDB;
    --dot-size: 2px;
    --dot-space: 35px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

    padding-bottom: 150px;
}

.footer-flex {
    display: flex;
    justify-content: end;
    padding: 115px 200px 0 0;

    gap: 5%;
}

footer p {
    width: 220px;
    height: 55px;
    border: 1px solid #000;
    border-radius: 20px 0 0 0;
    font-size: 1.2rem;

    line-height: 55px;
    text-align: center;
    transition: 0.3s;
}

footer p:hover {
    background: #000;
    color: #fff;
}

footer p i {
    margin-left: 10px;
}